name: Release Drafter

on:
  push:
    branches:
      - main

jobs:
  release:
    uses: Staffbase/gha-workflows/.github/workflows/template_release_drafter.yml@v9.2.0
    secrets:
      app_id: ${{ vars.STAFFBASE_ACTIONS_APP_ID }}
      private_key: ${{ secrets.STAFFBASE_ACTIONS_PRIVATE_KEY }}
